## Environment normalization:
/.bundle
/vendor/bundle

# if using bower-rails ignore default bower_components path bower.json files
*.bowerrc
bower.json

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

#
.DS_Store
node_modules
